<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.html') %>
  <body>
    <div id="container">
        <%- include('./components/header.html') %>
        <div id="content">
            <div id="dashboard">
                <div id="box" class="dashboard">
                    <h1>Welcome to <%= appName %></h1>
                    <p>
                        <%= appName %> is an online quiz game show where you can compete with your friends, family, and classmates to see who knows the most about a variety of topics.
                    </p>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>