#main {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
      ellipse at 0% 50%,
      var(--white-color) 0% 50%,
      transparent 50% 100%
    ),
    radial-gradient(
      ellipse at 0% calc(50% - 30px),
      rgba(var(--primary-color-rgb), 0.5) 0% calc(50% + 10px),
      transparent 50% 100%
    );
  background-size: 100% 400%;
  background-position: 0% 35%;
  background-repeat: no-repeat;
  font-family: "Exo 2", sans-serif;
}

#main #fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.15), transparent);
}

#box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

#main #box {
  max-width: 550px;
}

#section {
  position: relative;
  padding: 100px;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#section.centered {
  align-items: center;
}

#section.centered h1 {
  text-align: center;
}

#section.dark {
  color: #fff;
  background: #000;
}

#section.dark p {
  color: #ccc;
}

#section.accent {
  color: #fff;
  background-image: linear-gradient(
    to top,
    rgba(var(--primary-color-rgb), 0.5),
    rgba(var(--primary-color-rgb), 0.8)
  );
}

#section.red {
  color: #fff;
  background: var(--danger-color);
}

#section.yellow {
  color: #fff;
  background: var(--warning-color);
}

#section.green {
  color: #fff;
  background: var(--success-color);
}

#section.red p,
#section.yellow p,
#section.green p {
  color: inherit;
}

h1,
p {
  opacity: 0;
  text-align: inherit;
  animation: text-fadein 1s ease;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  animation-delay: 0.2s;
}

p {
  font-size: 20px;
  color: rgb(125, 125, 125);
  font-weight: 600;
  line-height: 1.8;
}

h1.lg {
  font-size: 200px;
  font-weight: 1000;
}

svg.lg {
  fill: currentColor;
  width: 100px;
  height: 100px;
  opacity: 0;
}

svg.shape {
  position: absolute;
  top: 50%;
  right: 10%;
  order: -1;
  transform: translate(0, -50%) rotate(10deg);
  margin-left: auto;
  width: 300px;
  height: 300px;
}

.flex.reverse svg.shape {
  left: 10%;
  right: auto;
  transform: translate(0, -50%) rotate(-10deg);
}

svg.shape path,
svg.shape rect,
svg.shape circle {
  stroke: #000;
  fill: #000;
  stroke-width: 40;
  stroke-linejoin: round;
  stroke-linecap: round;
  opacity: 0.15;
}

.flex {
  display: flex;
  gap: 40px;
}

.flex.centered {
  align-items: center;
}

.flex.reverse {
  flex-direction: row-reverse;
  text-align: right;
}

#questions {
  position: sticky;
  bottom: 5vh;
  margin-top: 400px;
  align-self: flex-end;
  border-radius: 20px;
  width: 100%;
  height: 90vh;
  min-height: 90vh;
  overflow: hidden;
  color: var(--white-color);
  background-color: #000;
  background-image: linear-gradient(
    rgba(var(--primary-color-rgb), 0.5),
    rgba(var(--primary-color-rgb), 0.5)
  );
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

@supports (animation-timeline: inherit) {
  #main #box {
    animation: text-fadeout 1ms;
    animation-timeline: view(y);
    animation-range-start: 70%;
  }

  #section:not(:has(#box.main)) h1,
  #section:not(:has(#box.main)) p,
  svg.lg {
    animation: text 1ms;
    animation-timeline: view(y);
  }

  svg.lg {
    animation-name: svg;
  }

  svg.shape {
    animation: shape 1ms;
    animation-timeline: view(y);
    animation-range-start: 0%;
    animation-range-end: 100%;
  }

  .flex.reverse svg.lg {
    animation-name: svg-reverse;
  }

  .flex.reverse svg.shape {
    animation-name: shape-reverse;
  }

  #section:not(:has(#box.main)) h1.lg {
    animation-name: go;
  }
}

@media screen and (max-width: 850px) {
  #main {
    background: none;
  }

  #main {
    padding: 20px;
  }

  #main #fade {
    height: 20%;
  }

  #section {
    padding: 100px 20px;
  }

  #questions {
    min-height: calc(90vh - var(--header-height));
    height: calc(90vh - var(--header-height));
    bottom: calc(
      ((100vh - var(--header-height)) - (90vh - var(--header-height))) / 2
    );
  }

  h1.lg {
    font-size: 100px;
  }

  #questions {
    margin-top: 250px;
  }

  svg.lg {
    width: 80px;
    height: 80px;
  }

  svg.shape {
    width: 200px;
    height: 200px;
  }
}

@keyframes text-fadein {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes text {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  40%,
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes svg {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  40%,
  60% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes svg-reverse {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  40%,
  60% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes shape {
  0% {
    transform: translate(0, -50%) rotate(10deg);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(0, -50%) rotate(-20deg);
    opacity: 0;
  }
}

@keyframes shape-reverse {
  0% {
    transform: translate(0, -50%) rotate(-10deg);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(0, -50%) rotate(20deg);
    opacity: 0;
  }
}

@keyframes go {
  0% {
    transform: translateY(100%) scale(1);
    opacity: 0;
  }
  40%,
  60% {
    transform: translateY(0) scale(1.5);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) scale(1.5);
    opacity: 0;
  }
}
