#game {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#game #game-header {
  height: var(--header-height);
  background: rgba(var(--primary-color-rgb), 0.5);
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#game #game-header #title {
  color: var(--white-color);
  font-size: 35px;
  font-weight: 800;
  font-family: "Oxanium", sans-serif;
}

#game #content {
  width: 100%;
  height: 100%;
  padding-top: 0 !important;
}

#game #content #play-lobby,
#game #content #questions {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

#game #content #play-lobby.active,
#game #content #play-lobby:not(.active) + #questions {
  display: flex;
}

#game #content #play-lobby h3 {
  margin-bottom: 20px;
  font-weight: 400;
}

#game #content #play-lobby #loading {
  font-weight: 800;
}

#game #stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#game #score,
#game #username {
  background: var(--white-color);
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  font-family: sans-serif;
  color: var(--black-color);
  transition: all 0.3s ease;
}

#game #score {
  transform: scale(0);
  margin-left: calc(-100% - 20px);
  opacity: 0;
}

#game #score::after {
  content: "$";
}

#game:has(#play-lobby:not(.active)) #score {
  transform: scale(1);
  margin-left: 0;
  opacity: 1;
}
