<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
        name="description"
        content="An online quiz game show"
    />
    <title><%= appName %> - <%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/main.css" />
    <% if (styles) { %>
        <% styles.forEach(style => { %>
            <link rel="stylesheet" href="<%= style %>" />
        <% }) %>
    <% } %>
    <link rel="icon" href="icon.png" />
    <script src="socket.io/socket.io.js"></script>
    <script src="js/menu.js"></script>
</head>